@import "../../modules/_base.scss";
/*Basics Blocks*/
.basics{
    @extend .g-clearfix;
}
.basics__link{
    @include px2rem(height, 234px);
    @include px2rem(margin-bottom, 18px);
    float:left;
    width:100%;
    background:#fff;
    text-decoration:none;
    position:relative;
    min-height:0.01%;

    @include media($mobile){
        width:(100%-$grid-gutter)/2;
        margin-left:$grid-gutter;

        &:nth-child(2n+1){
            margin-left:0;
        }
    }

    @include media($tablet){
        width:(100% - $grid-gutter*3)/4;
        margin-left:$grid-gutter;

        &:nth-child(2n+1){
            margin-left:$grid-gutter;
        }

        &:first-child{
            margin-left:0;
        }
    }

    &:hover,
    &:active{
        .basics__title{
            color:$primary;
        }
    }
}
.basics__item{
    margin:0;
}
.basics__wrap{
    @include px2rem(height, 180px);
    margin:0;
    position:relative;
}

.basics__img{
    @extend .g-img-centered;
}

.basics__caption{
    display:table;
    width:100%;
    @include px2rem(height, 54px);
    background:$primary-alt;
    position:absolute;
    @include px2rem(padding, 0 20px);
    box-sizing:border-box;
    left:0; bottom:0;
}
.basics__title{
    display:table-cell;
    vertical-align:middle;
    color:#fff;
    @include font-size(14px);
    @include transition-property(color);
    @include transition-duration(.15s);
    @include transition-timing-function(ease);
}