@import "../../modules/_base.scss";
/*Image gallery*/
.gallery{
    list-style-type:none;
    padding:0;
    @include px2rem(margin, 0 -20px 18px);
    background:#fff;
    @extend .g-clearfix;
}

.gallery__item{
    float:left;
    width:(100%-$grid-gutter)/2;
    margin-left:$grid-gutter;    

    &:nth-child(2n+1){
        margin-left:0;
        clear:left;
    }

    @include media($mobile){
        width:(100%-$grid-gutter*2)/3;

        &:nth-child(2n+1){
            margin-left:$grid-gutter;
            clear:none;
        }

        &:nth-child(3n+1){
            margin-left:0;
            clear:left;
        }
    }

    @include media($tablet){
        width:(100% - $grid-gutter*3)/4;
        
        &:nth-child(3n+1){
            margin-left:$grid-gutter;
            clear:none;
        }

        &:nth-child(4n+1){
            margin-left:0;
            clear:left;
        }

        

        &.last{
            margin-left:0; //ie8
            clear:left;
        }
    }
}
.gallery__wrap{
    @Include px2rem(margin, 0 0 18px 0);
}
.gallery__title{
    @include px2rem(padding, 3px 0);
    text-align:center;
    color:$primary-alt;
}
.gallery__link{
    display:block;
    padding-top:99%;
    position:relative;
    border:1px solid #f7f7f7;
    overflow:hidden;
    &:hover,
    &:active{
        border-color:$primary;
    }
}
.gallery__img{
    @extend .g-img-centered;
    max-width:102%;
    max-height:102%;
}