@import "../modules/base";
@import "header/_logo.scss";
@import "header/_lang-switcher.scss";
@import "header/_search-form.scss";

.header{
    @include px2rem(padding-top, 9px);
    @include px2rem(margin-bottom, 18px);
    background:#ededed;

    @include media($desktop){
        @include px2rem(padding-top, 18px);
    }
}
.header__container{
    @extend .g-container;
}
.header__controls{
    float:right;
    @extend .g-clearfix;
    @include px2rem(width, 220px);

    @include media($mobile){
        @include px2rem(width, 300px);
    }
}
.header__top{
    @extend .g-clearfix;
}
.header__hours{
    display:none;
    @include font-size(12px);
    color:$border-color;
    text-align:right;
    line-height:1.5;
    @include media($mobile){
        display:block;
    }
}
.header__phone{
    float:right;
    @include px2rem(height, 18px);
    @include px2rem(line-height, 18px);
    white-space:nowrap;
    font-family:$font-semibold;
    color:$primary-alt;
    text-decoration:none;
    @include font-size(14px);

    @include media($mobile){
        @include font-size(18px);
        @include px2rem(margin-bottom, 16px);
    }
}
