@import "../modules/_base.scss";

@import "page/_breadcrumbs.scss";
@import "page/_scroll-up.scss";
@import "page/_basics.scss";
@import "page/_b-about.scss";
@import "page/_banner.scss";
@import "page/_gallery.scss";


/*Page Grid*/
.page{
    @extend .g-container;
}
.page__row{
    @extend .g-row;
}
.page__main,
.page__side{
    @extend .g-col;
}
.page__main,
.page__side,
.page__full{
    @include px2rem(padding, 0 20px 18px);
    background:#fff;
    @include font-size(14px);
    @include px2rem(min-height, 252px);
}

.page__main{
    @include media($tablet){
        width:57.5%;
    }
}
.page__side{
    @include media($tablet){
        width:(42.5% - $grid-gutter);
    }
}
.page__full{
    color:$text-color-dark;
}

/*Page Title*/
.page__title{
    display:block;
    @include px2rem(margin,0 -20px 18px);
    @include px2rem(padding, 17px 20px);
    font-family:$font-title;
    font-weight:700;
    text-transform:uppercase;
    line-height:strip-units($project-line-height/16);
    @include font-size(18px);
    @include px2rem(letter-spacing, 1.5px);
    color:$primary-alt;
    background:#ddd;
}