@import "../modules/_base.scss";
/*Sidebar News List*/
.news-list{
    list-style-type:none;
    padding:0;
    @include px2rem(margin, -18px -20px 36px);
}
.news-list__item{

    &:first-child{
        .news-list__link{
            //padding-top:0;
        }
    }
}
.news-list__link{
    display:block;
    @include px2rem(padding, 18px 20px);
    @extend .g-clearfix;
    text-decoration:none;
    color:$text-color;
    background:#fff;

    &:hover,
    &:active{
        background:#e8e8e8;
    }
}
.news-list__img-wrap{
    @include px2rem(height, 90px);
    position:relative;

    @include media($mobile){
        float:left;
        @include px2rem(margin, 0 18px 0 0);
    }
}
.news-list__img{
    @extend .g-img-centered;
    max-width:100%;
    max-height:100%;
}
.news-list__title{
    display:block;
    font-family:$font-title;
    font-weight:700;
    line-height:strip-units($project-line-height/$project-font-size);
    margin:0;
    color:$primary;
}