@import "../modules/_base.scss";
/*Sidebar News (Articles) List*/
.s-posts-list{
    list-style-type:none;
    padding:0;
    @include px2rem(margin, -18px -20px 36px);
}

.s-posts-list__link{
    display:block;
    @include px2rem(padding, 18px 20px);
    @extend .g-clearfix;
    text-decoration:none;
    color:$text-color;
    background:#fff;

    &:hover,
    &:active{
        background:#e8e8e8;
    }
}

.s-posts-list__img{
    display:block;
    @include px2rem(width, 100px);
    @include px2rem(height, 90px);
    @include px2rem(margin-bottom, 18px);

    @include media($tablet){
        float:left;
        @include px2rem(margin, 0 18px 0 0);
    }
}
.s-posts-list__title{
    display:block;
    font-family:$font-title;
    font-weight:700;
    line-height:strip-units($project-line-height/$project-font-size);
    margin:0;
    color:$primary;
    text-transform:none;
    letter-spacing:0;
}