@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    @include px2rem(height, 36px);
    @include px2rem(padding, 0 36px);
    color:#fff;
    text-align: center;
    @include font-size(16px);
    @include px2rem(line-height, 34px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary;
    border: 1px solid $primary;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background-color:darken($primary, 10%);
        outline:0;
    }
}
